body
{
    font-family: 'Allerta Stencil';font-size: 15px;
    margin: auto;
}

header
{
    text-align: right;
    position: absolute;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 5px;
    top: 0;
    right: 0;
    left: 0;
}

nav a
{
    text-align: center;
    line-height: 48px;
    width: 150px;
    display: block;
    background-color: aquamarine;
    font-family: 'Allerta Stencil';font-size: 15px;

}

ul
{
    margin: 0%;
    list-style-type: none;
}

a
{
    text-decoration: none;
}

ul li {
    margin-left: -40px;
  }
