body{
    font-family: 'Allerta Stencil';font-size: 15px;
    margin: auto;
}

header{
    text-align: right;
    position: absolute;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 5px;
    top: 0;
    right: 0;
    left: 0;
}

nav a {
    text-align: center;
    display: block;
    background-color: aquamarine;
}
